@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #374151 #111827;
  }

  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: #111827;
  }

  *::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 3px;
  }
}